<div class="navbar navbar-inverse row shadow hidden-xs">
  <div class="container">
  <div class="col-xs-4 center hidden-phone">
  </div>
  <div class="col-xs-4 center"><h4><%= link_to "Pinteresting", root_path, :class => "center", :id => "logo" %></h4>
  </div>

  <% if user_signed_in? %>

  <div class="col-xs-4 right no-padding" id="login">    

  <button type="button" class="btn btn-default"><%= link_to "Log Out",  destroy_user_session_path, method: :delete %></button>
    
  </div>

  <% else %>

  <div class="col-xs-4 right no-padding" id="login">    
    <button type="button" class="btn btn-default"><%= link_to "Log in", new_user_session_path %></button>
  </div>
<% end %>

</div>
</div>

<div class="navbar navbar-inverse row shadow visible-xs">
  <div class="container">
  <div class="col-xs-6"><h4><%= link_to "Pinteresting", root_path, :id => "logo" %></h4>
  </div>

<% if user_signed_in? %>
  
  <div class="col-xs-6 right" id="login">

  <button type="button" class="btn btn-default"><%= link_to "Log Out",  destroy_user_session_path, method: :delete %></button>
    
  </div>
  
  <% else %>

  <div class="col-xs-6 right" id="login">
    <button type="button" class="btn btn-default"><%= link_to "Log in", login_path %></button>
  </div>
  
  <% end %>
  
  </div>

</div>